.banner{
    background-image: url('../../../assets/images/icons/Rectangle_4012.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: #fff;
    padding: 50px;
    p{
        width: 50%;

    }
}
