.footer-main {
    display: grid;
    padding: 100px 2rem 3rem 2rem;
    background: linear-gradient(72deg, #23133F 9.81%, #08205C 50.72%, #01326A 93.38%);
    grid-template-columns: 14% 32% 14% 32%;
    grid-gap: 2%;

    @media (max-width: 768px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

    }

    @media (max-width: 576px) {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25%;

    }


    .f-sec1 {
        display: flex;
        flex-direction: column;
    }

    .f-sec2 {
        display: flex;
        flex-direction: row;
    }

    p {
        color: #fff;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }

    .border-rght {
        border-right: 1px solid #6b6b6b;
    }




}

.bnx-about-session {
    width: 100%;
    background: linear-gradient(72deg, #23133F 9.81%, #08205C 50.72%, #01326A 93.38%);
    width: 100%;
    display: flex;
    justify-content: space-around;


}

.bnx-about-one {
    padding-top: 94px;
    padding-bottom: 100px;

    h3 {
        color: black;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h2 {
        color: black;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.bnx-aboutvector59 {
    padding-top: 137px;
    padding-left: 66px;
}

.bnx-about-three-row {
    display: flex;

    h3 {
        color: black;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


}

.bnx-about-three {
    padding-top: 94px;
    padding-left: 52px;

    h2 {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }
}

.bnx-about-seven {
    padding-top: 94px;
    padding-left: 52px;

    h2 {
        color: black;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

}

.bnx-about-three-row-last {
    display: flex;
}

.bnx-about-three-row-last-left {
    h3 {
        color: black;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}
#last-card {
    background-color: #2B98F7;
    
  }
.col-last {
    text-align: center; }

.bnx-about-three-row-last-right {
    padding-top: 20px;

    h3 {
        color: black;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 35px;

    }
}

.bnx-subscribe {
    background-color: #1D7AD0;
    color: #ffffff;
    padding: 2rem;
    margin: -6rem 2rem 0 2rem;
    position: absolute;
    width: calc(100vw - 5rem);
    overflow: auto;

    .input-group {
        margin: 0;
    }

    button {
        background: #10385B;
        color: rgb(255, 255, 255);
        border: none;
    }

    .subscribe-search-bar {
        display: grid;
        align-items: center;

    }

}
